{{!< default}}

<main id="gh-main" class="gh-main cdz-is-blog">
    <article class="gh-article {{post_class}} no-image">

        <header class="gh-article-header gh-canvas">
            <h1 class="gh-article-title">Blogged: on Damn Arbor</h1>
        </header>

        <div class="gh-content gh-canvas">
            <table class="cdz-content-list" style="margin-top: 2rem;">
                <thead>
                    <tr>
                        <td>Date</td>
                        <td>Title</td>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td class="gh-card-date"><time datetime="4 April 2018">4 April 2018</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2018/04/editorial-7800-in-dahlmann-political.html" class="gh-card-title">Opinion: $7800 in Dahlmann Campaign Contributions Explains Eaton & Kailasapathy 'No' Votes on Y Lot Purchase</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="2 February 2017">2 February 2017</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2017/02/ann-arbor-voters-will-consider.html" class="gh-card-title">Ann Arbor Voters will consider a replacement AAPS millage at May election</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="31 January 2017">31 January 2017</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2017/01/a2council-viewing-party-monday-feb-6.html" class="gh-card-title">#A2Council Viewing Party: Monday, Feb. 6</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="3 March 2016">3 March 2016</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2016/03/washtenaw-county-emergency-siren-tests.html" class="gh-card-title">Washtenaw County emergency siren tests begin Saturday; Ann Arbor siren tests begin Tuesday</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="1 March 2016">1 March 2016</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2016/03/mark-your-calendar-presidential.html" class="gh-card-title">Mark your calendar: Presidential primaries and county-wide ballot proposal on Tuesday, March 8</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="29 February 2016">29 February 2016</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2016/02/a2council-viewing-party-march-10.html" class="gh-card-title">#A2Council Viewing Party March 10</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="25 January 2016">25 January 2016</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2016/01/a2council-watching-party-feb-1.html" class="gh-card-title">#A2Council Viewing Party Feb. 1</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="12 May 2015">12 May 2015</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2015/05/civcity-on-concentrate.html" class="gh-card-title">CivCity on Concentrate</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="06 April 2015">06 April 2015</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2015/04/it-is-time-to-make-policy-changes-that.html" class="gh-card-title">Freep: “Enough is enough - pass pro-LGBT laws”</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="04 April 2015">04 April 2015</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2015/04/deer-management-public-meeting-april-16.html" class="gh-card-title">Deer management public meeting April 16</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="02 April 2015">02 April 2015</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2015/04/editorial-oppose-michigans-proposed.html" class="gh-card-title">Editorial: Oppose Michigan's proposed Indiana-style “religious freedom restoration” laws</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="23 March 2015">23 March 2015</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2015/03/street-closures-sunday-for-ann-arbor.html#more" class="gh-card-title">Street closures Sunday for the Ann Arbor Marathon</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="23 March 2015">23 March 2015</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2015/03/the-observers-film-festival-preview.html" class="gh-card-title">The Observer's Film Festival preview</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="15 March 2015">15 March 2015</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2015/03/53rd-ann-arbor-film-festival-begins.html" class="gh-card-title">53rd Ann Arbor Film Festival begins next week</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="7 March 2015">7 March 2015</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2015/03/ddas-downtown-ambassador-program.html" class="gh-card-title">DDA's downtown “ambassador” program shelved, for now</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="7 March 2015">7 March 2015</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2015/03/a2sf-movie-schedule-announced.html" class="gh-card-title">A2SF movie schedule announced</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="7 March 2015">7 March 2015</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2015/03/recap-feb-26-stadium-blvd.html" class="gh-card-title">Recap: Feb. 26 Stadium Blvd. reconstruction public meeting</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="25 February 2015">25 February 2015</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2015/02/update-from-mayor-taylor.html" class="gh-card-title">Update from Mayor Taylor</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="24 February 2015">24 February 2015</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2015/02/tell-aapd-how-its-doing.html" class="gh-card-title">Tell the AAPD how it's doing</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="24 February 2015">24 February 2015</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2015/02/the-aadls-ann-arbor-news-archives.html" class="gh-card-title">The AADL's Ann Arbor News archives: photos and factoids</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="23 February 2015">23 February 2015</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2015/02/sixth-circuit-court-of-appeals-upholds.html" class="gh-card-title">Sixth Circuit Court of Appeals upholds judgment against Andrew Shirvell</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="23 February 2015">23 February 2015</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2015/02/ann-arbor-requests-voluntary-removal-of.html" class="gh-card-title">Ann Arbor requests voluntary removal of cars from certain streets for snow plowing</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="20 December 2014">20 December 2014</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2014/12/unseen-lives-of-michigan-engineers.html" class="gh-card-title">Unseen Lives of Michigan Engineers photo/video showcase coming in January</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="17 November 2014">17 November 2014</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2014/11/photo-holiday-lights-being-installed.html" class="gh-card-title">Photo: Holiday lights being installed along Main St.</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="15 November 2014">15 November 2014</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2014/11/images-of-america-downtown-ann-arbor.html" class="gh-card-title">Images Of America: Downtown Ann Arbor</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="27 October 2014">27 October 2014</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2014/10/freep-endorses-snyder-for-governor.html" class="gh-card-title">Freep endorses Snyder for governor</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="26 October 2014">26 October 2014</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2014/10/mlive-massive-tree-transplant-is-going.html" class="gh-card-title">MLive photo gallery: Massive tree transplant is going well</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="22 October 2014">22 October 2014</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2014/10/settlement-with-detroit-creditor-is.html" class="gh-card-title">Settlement with Detroit creditor is a significant step toward saving the DIA</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gh-card-date"><time datetime="21 October 2014">21 October 2014</time></td>
                            <td>
                                <a href="http://www.damnarbor.com/2014/10/things-to-do-tonight-tuesday-october-21.html" class="gh-card-title">Things to do tonight: Tuesday, October 21</a>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>

    </article>
</main>
