@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Permanent+Marker&family=Special+Elite&display=swap');

body {
  text-rendering: optimizeLegibility !important;
}

/* Specific Applications */

.gh-head-logo {
  font-family: "Rosario", var(--gh-font-heading, var(--font-serif));
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 3.7rem;
  letter-spacing: -0.01em;
  text-transform: lowercase;
}

.gh-head-menu,
.gh-head-actions {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.cdz-head-logo-subtitle {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 400;
  font-style: italic;
}

.gh-article-meta {
  font-weight: 400;
  font-size: 1.35rem;
}

.gh-article-meta time {
  font-weight: 600;
}

.gh-article-meta .cdz-card-supertitle {
  font-weight: 500;
}

.gh-article-title {
  font-weight: 450;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 450;
}

.gh-topic-name {
  font-size: 1.7rem;
  letter-spacing: 0;
  font-weight: 500;
}

.gh-tag-label {
  font-size: 1.3rem;
}

.gh-tag-name.gh-pagehead-title {
  font-family: "IBM Plex Serif", Charter, Times, serif;
}

.cdz-microblog-text-content {
  font-size: 1.1em;
}

.cdz-microblog-text-content p:first-child:has(+ p) {
  font-weight: 460;
}

.kg-bookmark-content {
  font-weight: 400;
  font-family: var(--font-sans) !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.kg-bookmark-card .kg-bookmark-title {
  font-size: 1em !important;
}

.cdz-monospace {
  font-family: "IBM Plex Mono", monospace;
}

.cdz-subnav-container {
  font-weight: 400;
  font-style: italic;
}

.gh-head ul.nav.cdz-subnav {
  font-weight: 500;
}

/* Typography Classes */

/* <weight>: Use a value from 100 to 700
   <uniquifier>: Use a unique and descriptive class name */

.permanent-marker-regular, .in-marker, .in-marker p {
  /* https://fonts.google.com/specimen/Permanent+Marker */
  font-family: "Permanent Marker", cursive !important;
  font-weight: 400;
  font-style: normal;
}

.in-marker p {
  font-size: 1.5em;
}

.special-elite-regular, .in-typewriter, .in-typewriter p {
  /* typewritten; https://fonts.google.com/specimen/Special+Elite */
  font-family: "Special Elite", system-ui !important;
  font-weight: 400;
  font-style: normal;
}

.in-typewriter p {
  font-size: 1.2em;
}

.fuzzy-bubbles-regular, .in-handwriting, .in-handwriting p {
  /* handwritten; https://fonts.google.com/specimen/Fuzzy+Bubbles */
  font-family: "Fuzzy Bubbles", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.in-handwriting p {
  font-size: 1.2em;
}

.fuzzy-bubbles-bold, .in-handwriting-bold,
.fuzzy-bubbles-regular b, .fuzzy-bubbles-regular strong,
.in-handwriting b, .in-handwriting strong,
.in-handwriting p b, .in-handwriting p strong {
  font-family: "Fuzzy Bubbles", sans-serif !important;
  font-weight: 700;
  font-style: normal;
}

.in-handwriting-bold p {
  font-size: 1.2em;
}

.rosario-500 {
  /* elegant; logo typeface; https://fonts.google.com/specimen/Rosario */
  font-family: "Rosario", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-100 {
  font-weight: 100;
  font-family: "IBM Plex Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ibm-plex-sans-200 {
  font-weight: 200;
  font-family: "IBM Plex Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ibm-plex-sans-300 {
  font-weight: 300;
  font-family: "IBM Plex Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ibm-plex-sans-400 {
  font-weight: 400;
  font-family: "IBM Plex Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ibm-plex-sans-500 {
  font-weight: 500;
  font-family: "IBM Plex Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ibm-plex-sans-600 {
  font-weight: 600;
  font-family: "IBM Plex Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ibm-plex-sans-700 {
  font-weight: 700;
  font-family: "IBM Plex Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 700;
  font-style: italic;
}

.ibm-plex-serif-thin {
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-serif-extralight {
  font-family: "IBM Plex Serif", serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-serif-light {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-serif-medium {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-serif-semibold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-serif-bold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-serif-thin-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-serif-extralight-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-serif-light-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-serif-regular-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-serif-medium-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-serif-semibold-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-serif-bold-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: italic;
}

.ibm-plex-sans-condensed-thin {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-sans-condensed-extralight {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-sans-condensed-light {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-sans-condensed-regular {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-condensed-medium {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-condensed-semibold {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-condensed-bold {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-sans-condensed-thin-italic {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-sans-condensed-extralight-italic {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-sans-condensed-light-italic {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-sans-condensed-regular-italic {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-sans-condensed-medium-italic {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-sans-condensed-semibold-italic {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-sans-condensed-bold-italic {
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 700;
  font-style: italic;
}
