div.aside {
  margin: 0 15px 1.3em 15px;
  padding: 1em 20px 1em 20px;
  border-left: solid 3px #e0e0e0;
  background-color: #f8f8f8;
}
div.aside p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

div.aside.info {
  border-left: solid 3px #17a2b8;
  background-color: #E3FFFF;
}
div.aside.info p:first-child:before {
  content: 'ℹ️ ';
}
div.aside.success {
  border-left: solid 3px #28a745;
  background-color: #DBFFF8;
}
div.aside.success p:first-child:before {
  content: '✅ ';
}
div.aside.warning {
  border-left: solid 3px #ffc107;
  background-color: #FFFFD3;
}
div.aside.warning p:first-child:before {
  content: '⚠️ ';
}
div.aside.danger, div.aside.critical {
  border-left: solid 3px #dc3545;
  background-color: #FFE8F8;
}
div.aside.danger p:first-child:before, div.aside.critical p:first-child:before {
  content: '⛔️ ';
}

p.info {
    background-color: #f7f7f7;
    padding: 8px 16px;
    border: 1px solid #e2e2e2;
}
