.accent {
  color: var(--ghost-accent-color);
}

.gh-head-inner {
  border-bottom: 1px solid var(--color-dark-gray);
}

.gh-head .cdz-subnav-container {
  opacity: 0.9;
}

.gh-head ul.nav.cdz-subnav {
  color: var(--color-secondary-text);
}

.cdz-head-logo-subtitle {
  color: var(--color-secondary-text);
}

.cdz-home-introduction-feature-image {
  filter: drop-shadow(0 3px 6px var(--color-cdz-dropshadow));
}

:not(pre) > code {
  color: var(--color-primary-text);
}

.cdz-foot-nonpost {
  border-top: 1px solid var(--color-light-gray);
}

.cdz-stuff-i-like-emoji {
  font-size: 1.8rem;
  margin-bottom: 0.75rem;
}

.cdz-microblog-container {
  border: 1px solid var(--color-light-gray);
  padding: 1.5rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  border-radius: 0.25em;
}

#-cdz-pictures-feed a:hover img,
#-cdz-pictures-feed a:hover .masonry-item,
#-cdz-birdbuddy-feed a:hover img,
#-cdz-birdbuddy-feed a:hover .masonry-item,
.gh-feed .tag-hash-micropost .gh-card-link .kg-image:hover,
.gh-featured .tag-hash-micropost .gh-card-link .kg-image:hover {
  filter: drop-shadow(0 3px 6px var(--color-cdz-dropshadow));
  transition: 0.05s;
}

.cdz-secondary-section-title {
  color: var(--color-secondary-text);
}

.cdz-terms-notice {
  color: var(--color-tertiary-text);
  font-style: italic;
}

.gh-card.tag-hash-micropost .gh-card-title {
  font-size: 3.3rem;
}

.gh-featured .gh-card.tag-hash-micropost .gh-card-title {
  font-size: 1.8rem;
}

.gh-sidebar .gh-topic-count {
  text-align: center;
}

.cdz-inline-icon-btn-sm svg {
  height: 16px;
  width: 16px;
}

.cdz-inline-icon-btn-sm {
  color: var(--color-secondary-text);
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  outline: none;
  padding: 0;
  height: 18px;
  width: 18px;
  margin-left: -1px;
}
