
.gh-site {
	min-height: 0 !important;
}

.gh-head {
	margin-top: 2em;
}

.gh-content.cdz-tag-content {
	margin-top: 0;
	margin-bottom: 6rem;
}

/* TODO(cdzombak): does this break anything?? */
.gh-wrapper .gh-section + .gh-section {
	margin-top: 8rem;
}

.gh-tag-label {
    margin-bottom: 0.7rem;
}

.cdz-micropost-excerpt {
	margin-bottom: 1rem;
}

.cdz-microblog-content {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.cdz-microblog-text-content {
	flex-grow: 1;
}

.cdz-microblog-text-content p {
    margin-bottom: 0.15rem;
}

.cdz-microblog-content img {
	max-width: 30%;
}

.cdz-microblog-container footer.gh-card-meta {
	margin-top: 0.4rem;
}

.gh-article-footer {
	margin-top: 12rem;
}

.cdz-foot-nonpost {
	margin-top: 12rem;
	padding-top: 3rem;
}

.cdz-home .gh-latest {
	margin-bottom: 14rem;
}

@media(max-width: 767px) {
	.gh-head {
		margin-top: 1em;
	}

	.cdz-home .gh-latest {
		margin-bottom: 7rem;
	}
}

.cdz-home-introduction {
	display: flex;
	flex-direction: row-reverse;
	column-gap: 6rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

@media(max-width: 1100px) {
	.cdz-home-introduction {
		column-gap: 4rem;
		margin-left: auto;
		margin-right: auto;
		align-items: center;
	}

	.cdz-home-introduction-feature-image {
		max-width: 400px;
	}
}

@media(max-width: 992px) {
	.cdz-home-introduction {
		flex-direction: column-reverse;
		column-gap: 4rem;
		align-items: center;
		margin-top: ;
		margin-left: auto;
		margin-right: auto;
	}

	.cdz-home-introduction-feature-image {
		margin-top: 0;
		max-width: 600px;
	}

	.cdz-home .gh-latest {
		margin-bottom: 10rem;
	}
}

@media(max-width: 767px) {
	.cdz-home-introduction-feature-image {
		max-width: 400px;
	}
}

.gh-feed.cdz-small-cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: stretch;
	row-gap: 2rem;
}

.gh-feed.cdz-small-cards .cdz-small-card {
	flex-basis: 30%;
}

.gh-feed.cdz-small-cards .gh-card, .gh-feed.cdz-small-cards .kg-card {
	flex-basis: 49%;
}

@media(max-width: 767px) {
	.gh-feed.cdz-small-cards {
		flex-direction: column;
	}
}

.gh-feed.cdz-small-cards .gh-card a.gh-card-link {
	border: 1px solid rgb(124 139 154/25%);
	border-radius: 0.25em;
	padding: 1.15em;
	height: 100%;
}

.cdz-pictures-feed {
	display: flex;
	overflow-x: auto;
	gap: 2rem;
}

.cdz-pictures-feed a {
	flex-basis: 33.33%;
}
