nav.gh-head-menu {
    justify-content: right;
}

.gh-head-actions {
    gap: 1.5rem !important;
}

@media (min-width: 992px) {
    .is-head-left-logo .gh-head-menu {
        margin-right: 16px;
        margin-left: 16px;
    }
}

@media (max-width: 768px) {
    .is-head-open .gh-head-inner {
        height: auto;
    }
}

/* Logo Subtitle */

.gh-head-brand-wrapper {
    flex-direction: column;
    align-items: baseline;
    gap: 0.25em;
}

.gh-head-brand-wrapper .cdz-head-logo-subtitle {
    padding-left: 1em;
}

/* subnav */

.cdz-subnav-container {
    display: none;
}

body:has(* > .cdz-is-blog) .cdz-subnav-container.cdz-subnav-container-blog {
    display: flex;
}

body:has(* > .cdz-is-etc) .cdz-subnav-container.cdz-subnav-container-etc {
    display: flex;
}

body:has(* > .cdz-is-blog) nav.gh-head-menu, body:has(* > .cdz-is-etc) nav.gh-head-menu {
    margin-top: 10px;
}
