
.accent {
	color: var(--ghost-accent-color);
}

.gh-head-inner {
	border-bottom: 1px solid var(--color-dark-gray);
}

.cdz-head-logo-subtitle {
	color: var(--color-secondary-text);
}

.cdz-home-introduction-feature-image {
	filter: drop-shadow(0 3px 6px #ccc);
}

:not(pre) > code {
	color: var(--color-primary-text);
}

.cdz-foot-nonpost {
	border-top: 1px solid var(--color-light-gray);
}

.cdz-stuff-i-like-emoji {
	font-size: 1.8rem;
	margin-bottom: 0.75rem;
}

.cdz-microblog-container {
	border: 1px solid var(--color-light-gray);
	padding: 1.5rem;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	border-radius: 0.25em;
}

#-cdz-pictures-feed a:hover img, #-cdz-birdbuddy-feed a:hover img {
	filter: drop-shadow(0 3px 6px #ccc);
	transition: 0.05s;
}

.cdz-secondary-section-title {
	color: var(--color-secondary-text);
}

.cdz-terms-notice {
	color: var(--color-tertiary-text);
	font-style: italic;
}
