.gist .gist-data {
  font-family: var(--font-mono);
  font-size: 15px;
}

.gist .gist-meta {
  font-size: 1.5rem !important;
  font-family: var(--gh-font-body, var(--font-sans)) !important;
}

.gist .gist-meta a {
  text-decoration: underline !important;
}

.gist .gist-meta a:hover {
  text-decoration: none !important;
}
