div.aside, p.info {
  box-sizing: border-box;
  padding: 1.2em 1.6em;
  border-radius: .25em;
}
div.aside p, p.info {
  font-size: .95em;
  line-height: 1.5em;
  box-sizing: border-box;
}
div.aside + div.aside {
  margin-top: 1em;
}

div.aside.info {
  background: rgba(33,172,232,.12);
}
div.aside.info p:first-child:before {
  content: "ℹ️ ";
  padding-right: 0.5em;
  font-size: 1.1em;
  text-indent: 1.925em hanging;
}
div.aside.info p:first-child {
  text-indent: 1.925em hanging;
}
p.info {
  background: rgba(124,139,154,.13);
}

div.aside.success {
  background: rgba(52,183,67,.12);
}
div.aside.success p:first-child:before {
  content: "✅ ";
  padding-right: 0.5em;
  font-size: 1.1em;
  text-indent: 1.925em hanging;
}
div.aside.success p:first-child {
  text-indent: 1.925em hanging;
}

div.aside.warning {
  background: rgba(240,165,15,.13);
}
div.aside.warning p:first-child:before {
  content: "⚠️ ";
  padding-right: 0.5em;
  font-size: 1.1em;
  text-indent: 1.925em hanging;
}
div.aside.warning p:first-child {
  text-indent: 1.925em hanging;
}

div.aside.danger,
div.aside.critical {
  background: rgba(209,46,46,.11);
}
div.aside.danger p:first-child:before,
div.aside.critical p:first-child:before {
  content: "⛔️ ";
  padding-right: 0.5em;
  font-size: 1.1em;
}
div.aside.danger p:first-child, div.aside.critical p:first-child {
  text-indent: 1.925em hanging;
}
