a:hover {
  opacity: 1 !important;
  text-decoration: underline;
}

.gh-content a:hover {
  text-decoration: none;
}

a.gh-card-link:hover {
  text-decoration: none;
}

a.gh-card-link:hover .gh-card-header,
a.gh-card-link:hover .gh-card-date {
  text-decoration: underline;
}

a.kg-bookmark-container:hover .kg-bookmark-title,
a.kg-bookmark-container:hover .kg-bookmark-author,
a.kg-bookmark-container:hover .kg-bookmark-publisher {
  text-decoration: underline;
}

.tag-hash-micropost .gh-card-meta .gh-card-duration a {
  color: var(--color-secondary-text);
}

li.nav-current a,
li.nav-current-parent a {
  text-decoration: underline;
}

h2 .cdz-content-header-link-container,
pre .cdz-code-copy-button-container {
  position: absolute;
}

h2 a.cdz-content-header-link {
  fill: var(--color-light-gray);
  position: relative;
  top: -1.5px;
  left: -35px;
  padding: 7px;
}

h2 a.cdz-content-header-link:hover {
  fill: var(--ghost-accent-color);
}

@media (max-width: 767px) {
  h2 .cdz-content-header-link-container,
  pre .cdz-code-copy-button-container {
    display: none;
  }
}

pre .cdz-code-copy-button {
  fill: var(--color-secondary-text);

  position: relative;
  top: -1.5px;
  left: calc(-1em - 35px + 7px);
  padding: 7px;

  background: none;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
}

pre .cdz-code-copy-button:hover {
  fill: var(--ghost-accent-color);
}

.gh-foot-inner .gh-copyright a {
  text-decoration: underline;
}

.gh-foot-inner .gh-copyright a:hover {
  text-decoration: none;
}

#-cdz-microblog-feed a a {
  text-decoration: underline;
}

#-cdz-microblog-feed a a:hover {
  text-decoration: dotted;
}

.gh-latest.tag-hash-micropost .gh-content a,
.gh-feed .gh-card.tag-hash-micropost .gh-card-excerpt a {
  color: var(--ghost-accent-color);
  text-decoration: underline;
}

.gh-latest.tag-hash-micropost .gh-content a:hover,
.gh-feed .gh-card.tag-hash-micropost .gh-card-excerpt a:hover {
  text-decoration: none;
}
